//Navbar Start
@media screen and (min-width: 768px) {
  #header {
    box-shadow: 0 0 2px;
  }
  .navbar.navbar-expand-lg {
    background: #fff;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

    .navbar-brand {
      img {
        width: 170px;
      }
    }

    .navbar-collapse {
      padding-left: 0;
      padding-right: 0;
    }

    .navbar-nav {
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;

      > li {
        position: inherit;

        > a {
          color: #666;
          font-size: 15px;
          font-weight: 600;
          text-transform: uppercase;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          padding: 20px 20px;

          &:hover,
          &.active {
            color: $brand-primary !important;

            &:after {
              width: 100%;
            }
          }
        }
      }

      li.drop {
        position: relative;
        // border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        ul.drop-down {
          margin: 0;
          position: absolute;
          top: 80%;
          left: 0px;
          width: 200px;
          visibility: hidden;
          opacity: 0;
          z-index: 3;
          text-align: left;
          padding: 10px 20px;
          background: #111;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;

          li {
            list-style: none;
            display: block;
            margin: 0;
            position: relative;

            //border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            &:last-child {
              border-bottom: 0;
            }

            a {
              display: inline-block;
              text-transform: uppercase;
              text-decoration: none;
              transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              display: block;
              color: #999;
              font-size: 13px;
              padding: 7px 0;
              font-weight: 400;
              margin: 0;

              i {
                float: right;
              }

              &:hover,
              &:focus {
                color: #fff;
              }
            }

            ul.drop-down.level3 {
              top: 0px;
              left: 80%;
              width: 200px;
              border-bottom: none;
              opacity: 0;
              visibility: hidden;
              transition: all 0.2s ease-in-out;
              -moz-transition: all 0.2s ease-in-out;
              -webkit-transition: all 0.2s ease-in-out;
              -o-transition: all 0.2s ease-in-out;

              a {
                color: #fff;

                &:hover,
                &:focus {
                  color: #222;
                }
              }
            }

            &:hover {
              li {
                a {
                  color: #222;
                }
              }

              ul.drop-down.level3 {
                opacity: 1;
                left: 100%;
                visibility: visible;
              }
            }

            input[type="search"] {
              margin: 10px 0;
              box-shadow: 0;
              border: 1px solid #ccc;
              outline: none;
              font-size: 13px;
              padding: 5px 0 5px 10px;

              &:focus {
                border: 1px solid $brand-primary;
              }
            }
          }

          &.right-side {
            left: inherit;
            right: 0;
          }
        }

        &:hover {
          > ul.drop-down {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }
        }
      }

      li.megadrop {
        &:hover {
          .megadrop-down {
            visibility: visible;
            opacity: 1;
            top: 100%;
          }
        }

        .megadrop-down {
          background: transparent;
          z-index: 999;
          position: absolute;
          width: 100%;
          top: 80%;
          left: 0;
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;

          .container {
            background-color: transparent;
          }

          .dropdown {
            width: 100%;
            background: #111;
            text-align: left;
            padding: 25px;

            ul {
              &:last-child {
                li {
                  border-right: none;
                }
              }

              li {
                list-style: none;
                padding: 10px 0;

                &:last-child {
                  padding-bottom: 0;
                  border: 0;
                }

                a {
                  color: $text-color;
                  display: block;
                  display: inline-block;
                  font-size: 14px;
                  font-weight: 400;
                  margin: 0;
                  text-decoration: none;
                  text-transform: uppercase;
                  transition: all 0.3s ease-in-out;
                  -moz-transition: all 0.3s ease-in-out;
                  -webkit-transition: all 0.3s ease-in-out;
                  -o-transition: all 0.3s ease-in-out;

                  i {
                    padding-right: 5px;
                  }

                  &.active {
                    color: #222;
                  }
                }

                &:hover {
                  a {
                    color: #fff;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.primary-color {
      background-color: $brand-primary;
    }

    &.dark-color {
      background-color: #222;
    }

    &.boxed-width.primary-color {
      background-color: transparent;

      .navbar-collapse {
        background-color: $brand-primary;
      }
    }

    &.boxed-width.dark-color {
      background-color: transparent;

      .navbar-collapse {
        background-color: #222;
      }
    }

    &.primary-color {
      .navbar-nav {
        > li {
          > a {
            color: #333 !important;

            &:hover,
            &.active {
              color: #fff !important;
            }
          }
        }

        li.drop {
          ul.drop-down {
            background: lighten($brand-primary, 5%);

            li {
              a {
                color: #333;

                &:hover,
                &.active {
                  color: #fff;
                }
              }
            }
          }
        }

        li.megadrop {
          .megadrop-down {
            .dropdown {
              background: lighten($brand-primary, 5%);

              ul {
                li {
                  a {
                    color: #333;

                    &:hover,
                    &.active {
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.dark-color {
      .navbar-nav {
        > li {
          > a {
            color: #fff !important;

            &:hover,
            &.active {
              color: $brand-primary !important;
            }
          }
        }

        li.drop {
          ul.drop-down {
            background: lighten(#222, 5%);

            li {
              a {
                color: #fff;

                &:hover,
                &.active {
                  color: $brand-primary;
                }
              }
            }
          }
        }

        li.megadrop {
          .megadrop-down {
            .dropdown {
              background: lighten(#222, 5%);

              ul {
                li {
                  a {
                    color: #fff;

                    &:hover,
                    &.active {
                      color: $brand-primary;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    // For Bottom Menu

    &.bottom-nav {
      .navbar-brand {
        margin-top: 0;
      }

      .navbar-nav {
        > li {
          > a {
            padding: 20px 30px;
          }
        }
      }

      &.primary-color {
        .navbar-nav {
          > li {
            > a {
              &:hover,
              &.active {
                background: darken($brand-primary, 5%);
              }
            }
          }
        }
      }

      &.dark-color {
        .navbar-nav {
          > li {
            > a {
              &:hover,
              &.active {
                background: darken(#222, 5%);
              }
            }
          }
        }
      }
    }
  }
}

//Navbar End

@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar-expand-lg {
    .navbar-brand {
      padding: 20px 15px 10px !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .navbar-expand-lg {
    text-align: left;
    margin-bottom: 0;

    .navbar-brand {
      img {
        width: 150px;
      }
    }

    .navbar-collapse.collapse.show {
      max-height: 300px;
      overflow-y: scroll;
    }
  }

  .navbar-nav {
    > li {
      > a {
        padding: 5px 15px;
        font-weight: 700;
        text-transform: uppercase;
        color: $text-color;
      }
    }

    li {
      ul.drop-down {
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        visibility: visible;
        opacity: 1;
        padding: 5px 0;
        background: transparent;
        border-top: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -o-box-shadow: none;

        li {
          a {
            padding: 3px 30px;
            text-transform: uppercase;
            color: $text-color;
          }

          ul.drop-down {
            &.level3 {
              top: inherit;
              left: inherit;
              width: 100%;
              position: relative;
              visibility: visible;
              box-shadow: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              -o-box-shadow: none;
              opacity: 1;

              li {
                padding-left: 10px;

                a {
                  color: $brand-primary;
                }
              }
            }
          }

          input[type="search"] {
            margin: 10px 25px;
            box-shadow: 0;
            border: 1px solid #ccc;
            outline: none;
            font-size: 13px;
            padding-left: 10px;

            &:focus {
              border: 1px solid $brand-primary;
            }
          }
        }
      }
    }

    li.megadrop {
      .megadrop-down {
        position: relative;
        top: inherit;
        left: inherit;
        visibility: visible;
        opacity: 1;

        .dropdown {
          //text-align: left;
          padding: 0 15px;
          background: transparent;
          border-top: none;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -o-box-shadow: none;

          ul {
            margin-bottom: 0;

            li {
              padding-bottom: 5px !important;
              border-right: none;

              a {
                color: $brand-primary;
                text-transform: uppercase;

                i {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  .navbar-expand-lg.primary-color {
    background-color: $brand-primary;
    border-color: $brand-primary;

    .navbar-collapse.collapse.in {
      background: #fff;
    }
  }

  .hidden {
    display: none !important;
  }

  .navbar-brand.separate {
    display: inherit;
    text-align: center;
    margin-bottom: 20px;
  }
}

//----------------------------------------------
// Start Navbar Full Width Styling
//----------------------------------------------

.navbar-brand.separate {
  padding-left: 0;
}
