$brand-primary: #f6d014;
$color-1: #11998e;
$color-2: #38ef7d;
$yellow: #f6d014;
$light-blue: #00bcd4;
$text-color: #a5a5a5;
$title-color: #222;

$white: #ffffff;
$light-grey: #f7f7f7;
$black: #000;
$black-russian-grey: #24252a;
$suva-grey: #888888;

$special-font: "Great Vibes", cursive;
$heading-font: "Roboto", sans-serif;
$text-font: "Open Sans", sans-serif;
$fontawesome: "FontAwesome";

$navbar-link-color: $black-russian-grey;
$navbar-hover-color: $brand-primary;
$navbar-hover-bg: $brand-primary;
$navbar-active-color: $brand-primary;
$navbar-active-bg: transparent;

$hover-line-color: $brand-primary;
$active-line-color: $hover-line-color;

$dropdown-bg: rgba(26, 28, 39, 0.8);
$dropdown-wrap-color: $black;
$dropdown-link-color: $white;

$dropdown-hover-color: $white;
$dropdown-hover-bg: $brand-primary;

$dropdown-active-color: $brand-primary;
$dropdown-active-bg: $brand-primary;
